{extend name="layout/main" /}

{block name="header"}
{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
	    <a type="button" href="{:url('goods/shipping_edit')}" class="btn btn-info pull-right">添加模板</a>
        <h4>运费模板</h4>
    </header>
    <div class="panel-body">
        <form class="form-block" action="">
            <div class="form-group">
                <div class="col-sm-2 no-pd-r">
                    <input type="text" id="keyword" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="关键词">
                </div>
	            <div class="col-sm-1">
	                <button type="submit" class="btn btn-color">搜索</button>
	            </div>
            </div>
        </form>
        <div class="panel-table">
	        <table class="table table-bordered table-striped no-margin">
	            <thead>
	            <tr>
	                <th>ID</th>
					<th class="text-left">名称</th>
					<th>类型</th>
					<th>默认首重/件</th>
					<th>默认运费</th>
					<th>默认续重/件</th>
					<th>默认续费</th>
					<th>添加时间</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	            <tbody>
	            {if count($list)}
	            {foreach $list as $g}
	            <tr>
	                <td>{$g.id}</td>
		            <td class="text-left"><a href="{:url('goods/shipping_edit', ['id'=>$g.id])}">{$g.name}</a></td>
					<td>{if $g.type==0}按重{else}按件{/if}</td>
					<td>{$g.first}{if $g.type==0}KG{else}件{/if}</td>
					<td>{:number_format($g.first_price, 2)}</td>
					<td>{$g.second}{if $g.type==0}KG{else}件{/if}</td>
					<td>{:number_format($g.second_price, 2)}</td>
	                <td>{:date('Y-m-d H:i', $g.add_time)}</td>
	                <td>
	                    <a href="{:url('goods/shipping_edit', ['id'=>$g.id])}" class="btn btn-xs btn-info">修改</a>
	                    <a data-url="{:url('goods/shipping_copy', ['id'=>$g.id])}" onclick="main.ajaxDelete(this)" data-msg="确定要复制吗？" class="btn btn-xs btn-warning">复制</a>
	                    <a data-url="{:url('goods/shipping_delete', ['id'=>$g.id])}" onclick="main.ajaxDelete(this)" data-msg="确定要删除吗？" class="btn btn-xs btn-danger">删除</a>
	                </td>
	            </tr>
	            {/foreach}
	            {else}
	            <tr class="text-center">
	                <td colspan="20">暂无数据</td>
	            </tr>
	            {/if}
	            </tbody>
	        </table>
        </div>
        <div class="page">
            {$list|raw}
        </div>
    </div>
</section>
{/block}


{block name="footer"}

{/block}
