{extend name="layout/main" /}

{block name="header"}
{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>{if $row.id>0}修改{else}添加{/if}文章</h4>
    </header>
    <div class="panel-body">
        <form class="form-horizontal" enctype="multipart/form-data" method="post" onsubmit="return false" role="form">
	        <input type="hidden" name="id" value="{$row.id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-5">
                    <input type="text" value="{$row.title}" name="title" class="form-control" placeholder="请输入标题">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">类型</label>
                <div class="col-sm-2">
                    <select name="category_id" class="form-control">
                        {foreach $category as $g}
                        <option {if $row.category_id==$g.id}selected{/if} value="{$g.id}">{$g.name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内容</label>
                <div class="col-sm-4">
	                <textarea class="form-control ckeditor hidden" name="content">{$row.content}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-2">
                    <input type="text" value="{$row.sort}" name="sort" class="form-control" placeholder="数字越小，排到最前面">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-5">
                    <input type="radio" data-type="radio" data-text="发布" {if $row.status==1}checked{/if} name="status" value="1">
                    <input type="radio" data-type="radio" data-text="不发布" {if $row.status==0}checked{/if} name="status" value="0">
                </div>
            </div>

            <div class="form-actions">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-url="{:url('article/edit')}" onclick="main.ajaxForm(this)" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</section>
{/block}


{block name="footer"}

{/block}
