{extend name="layout/main" /}

{block name="header"}
{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>充值管理</h4>
    </header>
    <div class="panel-body">
        <form class="form-block" action="">
            <div class="form-group">
                <div class="col-sm-2 no-pd-r">
                    <input type="text" id="keyword" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="关键词">
                </div>
                <div class="col-sm-1 no-pd-r">
                    <select name="status" class="form-control">
                        <option value="">状态</option>
                        <option {if $Request.get.status=='0'}selected{/if} value="0">待审核</option>
                        <option {if $Request.get.status=='1'}selected{/if} value="1">通过</option>
                        <option {if $Request.get.status=='-1'}selected{/if} value="-1">不通过</option>
                    </select>
                </div>
	            <div class="col-sm-1">
                    <button type="submit" class="btn btn-color">搜索</button>
	            </div>
            </div>
        </form>
        <div class="panel-table">
	        <table class="table table-bordered table-striped no-margin">
	            <thead>
	            <tr>
	                <th>ID</th>
	                <th class="text-left">会员</th>
	                <th>数量</th>
	                <th>凭证</th>
	                <th>状态</th>
	                <th>提交时间</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	            <tbody>
	            {if count($list)}
	            {foreach $list as $g}
	            <tr>
	                <td>{$g.id}</td>
		            <td class="text-left">
			            <a href="{:url('member/edit', ['id'=>$g.member_id])}" target="_blank">
			            <div>ID：{$g.member_id}</div>
			            {if $g.member_mobile!=''}<div>{$g.member_mobile}</div>{/if}
	                    {if $g.member_email!=''}<div>{$g.member_email}</div>{/if}
				        <!--{if $g.wallet!=''}<div>{$g.wallet}</div>{/if}-->
			            </a>
		            </td>
	                <td>
	                    <span class="btn btn-xs btn-white">{$g.num}</span>
	                </td>
	                <td>
			            <a href="{$g.pic}" target="_blank"><img src="{$g.pic}" style="height:50px;"></a>
	                </td>
	                <td>
                        {if $g.status == 0}<span class="btn btn-xs btn-default">待审核</span>
                        {elseif $g.status == 1}<span class="btn btn-xs btn-success">通过</span>
                        {elseif $g.status == -1}<span class="btn btn-xs btn-danger">不通过</span>
                        {/if}
	                </td>
	                <td>{:date('Y-m-d H:i', $g.add_time)}</td>
	                <td>
		                {if $g.status==0}
	                    <a data-url="{:url('money/recharge_edit', ['id'=>$g.id, 'status'=>1])}" onclick="main.ajaxDelete(this)" data-msg="确定要通过吗？" class="btn btn-xs btn-info">通过</a>
	                    <a data-url="{:url('money/recharge_edit', ['id'=>$g.id, 'status'=>-1])}" onclick="main.ajaxDelete(this)" data-msg="确定不通过吗？" class="btn btn-xs btn-warning">不通过</a>
		                {else}
		                -
		                {/if}
	                    <!--<a data-url="{:url('money/recharge_delete', ['id'=>$g.id])}" onclick="main.ajaxDelete(this)" data-msg="确定要删除吗？" class="btn btn-xs btn-danger">删除</a>-->
	                </td>
	            </tr>
	            {/foreach}
	            {else}
	            <tr class="text-center">
	                <td colspan="12">暂无数据</td>
	            </tr>
	            {/if}
	            </tbody>
	        </table>
        </div>
        <div class="page">
            {$list|raw}
        </div>
    </div>
</section>
{/block}


{block name="footer"}

{/block}
