{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
	    <!--<button type="button" class="btn btn-primary pull-right" coo-click="addRow">添加等级</button>-->
        <h4>会员等级</h4>
    </header>
    <div class="panel-body">
	    <div class="panel-table">
	        <table class="table table-bordered table-striped no-margin" data-save-validate-field="name" data-save="{:url('grade_edit')}" data-save-all="{:url('grade_edit_all')}">
	            <thead>
	            <tr>
	                <th>名称</th>
	                <th>级别收益</th>
	                <!--<th>平级收益</th>-->
	                <th>升级条件(团队合约交易)</th>
	                <th>操作</th>
	            </tr>
	            </thead>
	            <tbody>
	            {foreach $list as $g}
	            <tr>
	                <td>
	                    <input type="text" class="form-control text-center" name="name" value="{$g.name}" {if $g.id==1}disabled{/if}>
	                </td>
	                <td>
	                    <div class="form-control">
		                    <input type="number" class="form-control text-center" name="level_percent" value="{$g.level_percent}" {if $g.id==1}disabled{/if}>
		                    <div class="col-item">%</div>
	                    </div>
	                </td>
	                <!--<td>
	                    <div class="form-control">
		                    <input type="number" class="form-control text-center" name="line_percent" value="{$g.line_percent}" {if $g.id==1}disabled{/if}>
		                    <div class="col-item">%</div>
	                    </div>
	                </td>-->
	                <td>
	                    <div class="form-control">
		                    <input type="number" class="form-control text-center" name="team_total" value="{$g.team_total}" {if $g.id==1}disabled{/if}>
		                    <div class="col-item">USDT</div>
	                    </div>
	                </td>
	                <td>
		                <input type="hidden" name="status" value="{$g.status}">
		                <input type="hidden" name="sort" value="{$g.sort}">
	                    <a data-save-id="{$g.id}" class="btn btn-xs btn-primary">修改</a>
		                <!--<a data-url="{:url('grade_delete', ['id'=>$g.id])}" onclick="main.ajaxDelete(this, deleteRow)" data-msg="确定要删除？" class="btn btn-xs btn-danger">删除</a>-->
	                </td>
	            </tr>
	            {/foreach}
	            </tbody>
	        </table>
	    </div>
    </div>
</section>
{/block}

{block name="footer"}
<script>
function addRow(){
	let html = '<tr>\
        <td>\
            <input type="text" class="form-control text-center" name="name">\
        </td>\
        <td>\
            <div class="form-control">\
                <input type="number" class="form-control text-center" name="level_percent">\
                <div class="col-item">%</div>\
            </div>\
        </td>\
        <td>\
            <div class="form-control">\
                <input type="number" class="form-control text-center" name="line_percent">\
                <div class="col-item">%</div>\
            </div>\
        </td>\
        <td>\
            <div class="form-control">\
                <input type="number" class="form-control text-center" name="team_total">\
                <div class="col-item">USDT</div>\
            </div>\
        </td>\
        <td>\
            <input type="hidden" name="status" value="1">\
            <input type="hidden" name="sort" value="999">\
            <a data-save-id class="btn btn-xs btn-primary">提交</a>\
            <a onclick="deleteRow(this)" class="btn btn-xs btn-danger">删除</a>\
        </td>\
    </tr>';
	html = $(html);
	$('.table tbody').append(html);
	//configs();
	let wrap = $('.content-wrap');
	wrap.scrollTop(wrap[0].scrollHeight);
	setTimeout(function(){html.find('input').eq(0).focus()}, 100);
}
function deleteRow(e){
	$(e).parent().parent().remove()
}
</script>
{/block}
